@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol{
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body{
    height: 100%;
}

/* Set core body defaults */
body {
  font-family: var(--font-familly);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
  --font-familly: "Rubik", sans-serif;
/*   
  --main-clr: #161C2D;
  --accent-clr: #F64B4B;
  --accent-clr-vr1: #473BF0;
  --accent-clr-vr2: #83FFA3;
  
  --bg-clr-white: #FFFFFF;
  --bg-clr-blue: #F4F7FA; */
  
  --bg-clr-white: #FFFFFF;
  --m-clr: #1A1D1F;
  --acn-cle: #BDFF38;

  --care-clr: #78310B;
  --ur-clr: #601B1B;
}
body{
  background-color: var(--m-clr);
}